div.SessionTimeToolbar-style {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.SessionTimeToolbar-button {
  margin-left: 10px;
  width: 80px;
}

span.SessionTimeToolbar-twoMinutesLeft {
  color: rgb(206, 44, 44);
}
