div.SessionControlMenu-style {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

button.SessionControlMenu-button {
  width: 170px;
}
